---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
---

<Layout>
	<main class="container">
		<Header variant="home" />
			<h1 class="hero-title">I'm a Portland-based <span style="color: var(--color-accent)">product designer</span> with a background in UX, research and content.</h1>
			<ul>
			<li>
				<a href="/case-studies/fintech-onboarding">Designing for Conversion: Behavioral Psychology in Fintech Onboarding</a>
				<p>I worked with Onramp Funds, an Austin-based early-stage lending startup, to increase onboarding conversions and reduce user churn on the way to over $45M in funding.</p>
			</li>
			<li>
				<a href="/case-studies/design-systems">Design Ops from Zero: Building a Scalable System at Prism</a>
				<p>Learn how I helped Prism, an early-stage live event management startup, kickstart its design ops and design language system for exponential year-over-year growth.</p>
			</li>
			<li>
				<a href="/case-studies/edtech-research">Eliminating Third-Party Dependencies: Streamlining Assessment Import for Educators</a>
				<p>At Blackboard, I led a research and design initiative enabling native document import to reduce instructor workload and eliminate third-party dependencies.</p>
			</li>
			</ul>
	</main>
</Layout>
